<div class="album">
	<p>
		<h3>{{ album.name }} <a href="{{ generateMailTo() }}"><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-share"></span></button></a>
		</h3>
		<img ng-src="{{ album.imageUrl }}" class="img-thumbnail">
	</p>
	<table class='table'>

	<song-list songs="album.songs"></song-list>

<!-- 		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Artists</th>
				<th>Genres</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="song in album.songs" ng-class="{active: isCurrent(song)}">
				<td>
					<button ng-hide="isCurrent(song)" ng-click="start(song)" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-play"></span>
					</button>
				</td>
				<td>{{ song.name }}</td>
				<td><span ng-repeat="artist in song.artists">{{ artist.name }} </span></td>
				<td>{{ song.genres.join(', ') }}</td>
			</tr>
		</tbody> -->
	</table>
</div>