<table class='table'>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Artists</th>
			<th>Genres</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="song in songs" ng-class="{active: isCurrent(song)}" double-click="start(song)">
			<td>
			<!-- 	<button ng-hide="isCurrent(song)" ng-click="start(song)" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-play"></span>
				</button> -->
			</td>
			<td>{{ song.name }}</td>
			<!-- <td><a ui-sref="artist"><span ng-repeat="artist in song.artists">{{ artist.name }} </span></a></td> -->
			<td><artist-links artists="song.artists"></artist-links></td>

			
			<td>{{ song.genres.join(', ') }}</td>
		</tr>
	</tbody>
</table>